{% extends 'layout.html.twig' %}

{% block title %}Se connecter !{% endblock %}

{% block body %}

    <div class="offset-4 login">
        <div class="col-xl-6 col-md-6">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3">Connectez vous</h1>
                (ou <a class="mb-3" href="{{ path('registration') }}">inscrivez vous</a>)

                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       placeholder="Email" required autofocus>
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                       required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>

                <button class="btn btn-lg btn-primary register" type="submit">Connexion</button>

                <a class="btn btn-lg facebookRegister" href="{{ path('connect_facebook_start') }}"><i class="fab fa-facebook facebookLogo"></i> S'authentifier avec Facebook</a>

                <a href="{{ path('sendResetPasswordEmail') }}">Mot de passe oublié ?</a>
            </form>
        </div>
    </div>

{% endblock %}