{% extends 'layout.html.twig' %}

{% block title %}Propriétés{% endblock %}

{% block body %}
    <h1>Property index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Type de bien</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Pays</th>
                <th>Surface en m²</th>
                <th>Nombre de pièces</th>
                <th>Description</th>
                <th>Equipement</th>
                <th>Type de location</th>
                <th>Loyer hors charges</th>
                <th>Charges</th>
                <th>Prix d'achat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.propertyCategory }}</td>
                <td>{{ property.uniqueName }}</td>
                <td>{{ property.address }}</td>
                <td>{{ property.city }}</td>
                <td>{{ property.zipCode }}</td>
                <td>{{ property.country }}</td>
                <td>{{ property.surfaceInSquareMeter }}</td>
                <td>{{ property.numberOfPiece }}</td>
                <td>{{ property.description }}</td>
                <td>{{ property.equipment }}</td>
                <td>{{ property.rentalCategory }}</td>
                <td>{{ property.rentExcludingCharges }}</td>
                <td>{{ property.charges }}</td>
                <td>{{ property.purchasePrice }}</td>
                <td>
                    <a href="{{ path('property_show', {'id': property.id}) }}">show</a>
                    <a href="{{ path('property_edit', {'id': property.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">Vous n'avez pas enregistré de propriétés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('property_new') }}">Ajouter</a>
{% endblock %}
