{% extends 'layout.html.twig' %}

{% block title %}Propriétées{% endblock %}

{% block body %}
    <h1>Liste des propriétés</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Type de bien</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Loyer hors charges</th>
                <th>Charges</th>
                <th>Prix d'achat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.propertyCategory }}</td>
                <td>{{ property.uniqueName }}</td>
                <td>{{ property.address }}</td>
                <td>{{ property.city }}</td>
                <td>{{ property.zipCode }}</td>
                <td>{{ property.rentExcludingCharges }}</td>
                <td>{{ property.charges }}</td>
                <td>{{ property.purchasePrice }}</td>
                <td>
                    <a href="{{ path('property_show', {'id': property.id}) }}">Voir</a>
                    <a href="{{ path('property_edit', {'id': property.id}) }}"><i class="fas fa-edit"></i> édition</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">Vous n'avez pas enregistré de propriétés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('property_new') }}"><i class="fas fa-plus-circle"></i> Ajouter</a>
{% endblock %}
