{% extends 'layout.html.twig' %}

{% block title %}Propriétées{% endblock %}

{% block body %}
    <a href="{{ path('property_index') }}"><i class="fas fa-long-arrow-alt-left"></i> Revenir à la liste</a>

    <h1 class="propertyTitle">Propriétée</h1>

<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Type de bien</th>
                <td>{{ property.propertyCategory }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ property.uniqueName }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ property.address }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ property.city }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ property.zipCode }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ property.country }}</td>
            </tr>
            <tr>
                <th>Surface en m²</th>
                <td>{{ property.surfaceInSquareMeter }}</td>
            </tr>
            <tr>
                <th>Nombre de pièces</th>
                <td>{{ property.numberOfPiece }}</td>
            </tr>
            {% if property.description %}
            <tr>
                <th>Description</th>
                <td>{{ property.description }}</td>
            </tr>
            {% else %}
            {% endif %}
            <tr>
                <th>Equipement</th>
                    <td>
                        {% for equipment in property.equipments %}
                            <span class="equipmentName">{{ equipment.name }}</span>
                        {% endfor %}
                    </td>
            </tr>
            <tr>
                <th>Type de location</th>
                <td>{{ property.rentalCategory }}</td>
            </tr>
            <tr>
                <th>Loyer hors charges</th>
                <td>{{ property.rentExcludingCharges }} €</td>
            </tr>
            <tr>
                <th>Charges</th>
                <td>{{ property.charges }} €</td>
            </tr>
            <tr>
                <th>Prix d'achat</th>
                <td>{{ property.purchasePrice }} €</td>
            </tr>
        </tbody>
    </table>
</div>
    <a class="edit" href="{{ path('property_edit', {'id': property.id}) }}"><i class="fas fa-edit"></i> éditer</a>

    {{ include('property/_delete_form.html.twig') }}
{% endblock %}
