{% extends 'layout.html.twig' %}

{% block title %}Ma propriétée{% endblock %}

{% block body %}
    <a href="{{ path('property_index') }}"><i class="fas fa-long-arrow-alt-left"></i> Revenir à la liste</a>

    <h1 class="propertyTitle">Ma propriétée</h1>

<div class="container showLessee">
    <table class="table">
        <tbody>
            <tr>
                <th>Type de bien</th>
                <td>{{ property.propertyCategory }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ property.uniqueName }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ property.address }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ property.city }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ property.zipCode }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ property.country }}</td>
            </tr>
            <tr>
                <th>Surface en m²</th>
                <td>{{ property.surfaceInSquareMeter }}</td>
            </tr>
            <tr>
                <th>Nombre de pièces</th>
                <td>{{ property.numberOfPiece }}</td>
            </tr>
            {% if property.description %}
                <tr>
                    <th>Description</th>
                    <td>{{ property.description }}</td>
                </tr>
            {% else %}
            {% endif %}

            {% if property.equipment is not empty %}
                <tr>
                    <th>Equipement</th>
                        <td>
                            {% for equipment in property.equipment %}
                                <span class="equipmentName">{{ equipment.name }}</span>
                            {% endfor %}
                        </td>
                </tr>
            {% else %}
            {% endif %}

            <tr>
                <th>Type de location</th>
                <td>{{ property.rentalCategory }}</td>
            </tr>
            <tr>
                <th>Loyer hors charges</th>
                <td>{{ property.rentExcludingCharges }} €</td>
            </tr>
            <tr>
                <th>Charges</th>
                <td>{{ property.charges }} €</td>
            </tr>
            <tr>
                <th>Loyer charges inclues</th>
                <td>{{ property.rentExcludingCharges + property.charges }} €</td>
            </tr>
            <tr>
                <th>Prix d'achat</th>
                <td>{{ property.purchasePrice }} €</td>
            </tr>
            {% if property.lessees is not empty %}
                <tr>
                    <th>Locataires</th>
                    <td>
                        {% for lessee in property.lessees %}
                            <span class="lessee">{{ lessee.civility }} {{ lessee.name }} {{ lessee.lastname }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if property.pdfFile is not null %}
                <tr>
                    <th>Documents PDF</th>
                    <td>
                        <a target="_blank" href="{{ asset('uploads/pdf/' ~ property.pdfFile) }}">Voir les pdf</a>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
    {% if property.userProperty == app.user %}
    <a class="edit" href="{{ path('property_edit', {'id': property.id}) }}"><i class="fas fa-edit"></i> éditer</a>

    {{ include('property/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
