{% extends 'layout.html.twig' %}

{% block title %}Récapitulatif de {{ date }}{% endblock %}

{% block body %}

    <h1 class="propertyTitle">Récapitulatif de mes revenus en {{ date }}</h1>

    <div class="container">
        {% for property_name, prop in property %}
            {{ property_name }} : {{ prop }} €
        {% endfor %}

        <strong>Total : {{ total }}</strong>
    </div>

{% endblock %}
