{% extends 'resume_page/index.html.twig' %}

{% block title %}Récapitulatif de {{ date }}{% endblock %}

{% block body %}

    <a href="{{ path('resume_page') }}"><i class="fas fa-long-arrow-alt-left"></i> Revenir à la liste</a>

    <h1 class="propertyTitle">Récapitulatif de mes revenus en {{ date }}</h1>
    <div class="currentDate">{{ date }}</div>

    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <th>Propiétée</th>
                    <th>Revenu du mois</th>
                </tr>

                {% for property_name, property_rent in property %}
                    <tr>
                        <td class="propertyName">
                            {{ property_name }}
                        </td>
                        <td>
                            <span class="propertyRent">{{ property_rent }}</span> €
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td class="total">Total</td>
                    <td class="total">{{ total }} €</td>
                </tr>
            </tbody>
        </table>
    </div>

    <canvas id="rentResumeChart" class="rentResumeChart"></canvas>

{% endblock %}