{% extends 'layout.html.twig' %}

{% block title %}RentRelease index{% endblock %}

{% block body %}
    <h1>RentRelease index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rent_release in rent_releases %}
            <tr>
                <td>{{ rent_release.id }}</td>
                <td>{{ rent_release.Amount }}</td>
                <td>{{ rent_release.status }}</td>
                <td>{{ rent_release.date ? rent_release.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('rent_release_show', {'id': rent_release.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
