{% extends 'layout.html.twig' %}

{% block title %}Mes loyers{% endblock %}

{% block body %}
    <h1 class="propertyTitle">Mes loyers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Locataire</th>
                <th>Propriétée</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if rent_releases is defined %}
                {% for rent_release in rent_releases %}
                        <tr>
                            <td>{{ rent_release.lesseeName }}</td>
                            <td>{{ rent_release.propertyName }}</td>
                            <td>{{ rent_release.Amount }} €</td>
                            <td>{{ rent_release.date ? rent_release.date|date('Y-m-d') : '' }}</td>
                            <td>{{ rent_release.status }}
                                {% if rent_release.status == 'Payé' %}
                                    <i class="fas fa-check text-success"></i></td>
                                {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                {% endif %}
                            <td>
                                <a href="{{ path('rent_release_show', {'id': rent_release.id}) }}" class="btn text-primary">Voir</a>
                                {% if is_granted('ROLE_USER') %}
                                    {% if rent_release.status != 'Payé' %}
                                        <a href="{{ path('rent_release_paid', {'id': rent_release.id}) }}" class="btn text-success"> <i class="fas fa-hand-holding-usd"></i> Payé</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">Nous ne vous avons pas encore généré de quittance de loyer</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <div class="pagination">
        {{ knp_pagination_render(rent_releases) }}
    </div>
{% endblock %}
