{% extends 'layout.html.twig' %}

{% block title %}Mes loyers{% endblock %}

{% block body %}
    <a href="{{ path('rent_release_index') }}"><i class="fas fa-long-arrow-alt-left"></i> Revenir à la liste</a>

    <h1 class="propertyTitle">Détail du loyer</h1>

    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <th>Locataire</th>
                    <td>{{ rent_release.lesseeName }}</td>
                </tr>
                <tr>
                    <th>Propriétée</th>
                    <td>{{ rent_release.propertyName }}</td>
                </tr>
                <tr>
                    <th>Amount</th>
                    <td>{{ rent_release.Amount }} €</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ rent_release.status }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ rent_release.date ? rent_release.date|date('Y-m-d') : '' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {% if rent_release.status != 'Payé' %}
        <a class="edit btn text-success" href="{{ path('rent_release_paid', {'id': rent_release.id}) }}"> <i class="fas fa-hand-holding-usd"></i> Payé</a>
    {% endif %}

{% endblock %}
