<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GestImmo{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link href='{{ asset('build/images/favicon.ico') }}' rel='shortcut icon' type='image/x-icon'>
</head>

<body>
<header>
    {% block header %}{% endblock %}
</header>

<div class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

<main>
    {% block body %}{% endblock %}
</main>
<footer>
    {% block footer %}{% endblock %}
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
