<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED')%}
            {% if is_granted('ROLE_USER') %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('lessee_index') }}">Locataires<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('property_index') }}">Propriétées</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('rent_release_index') }}">Gestion des loyers</a>
                    </li>
                </ul>
            {% endif %}
        <ul class="navbar-nav">
                <li class="mr-3">
                    <div class="dropdown">
                        <button class="btn btn-outline-dark dropdown-toggle nav-link name" data-toggle="dropdown">
                            {{ app.user.lastName }} {{ app.user.name }}
                        </button>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('password-change') }}"><i class="fas fa-key"></i>
                                Modifier le mot de passe</a>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="{{ path('app_logout') }}" class="btn btn-outline-dark logout nav-link"><i
                                class="fas fa-sign-out-alt"></i> Déconnexion</a>
                </li>
        </ul>
        {% else %}
            <ul class="navbar-nav">
                <li>
                    <a href="{{ path('app_login') }}" class="btn btn-outline-dark logout nav-link"><i
                                class="fas fa-sign-out-alt"></i> Connexion</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
