{% extends 'layout.html.twig' %}

{% block title %}Liste des locataires{% endblock %}

{% block body %}
    <h1 class="propertyTitle">Liste des locataires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Civilité</th>
                <th class="hide-big-string">Prénom</th>
                <th class="hide-big-string">Nom</th>
                <th>Date de naissance</th>
                <th class="hide-big-string">Lieu de naissance</th>
                <th class="hide-big-string">Email</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% if lessees is defined %}
                {% for lessee in lessees %}
                    {% if is_granted('SHOWLESSEE', lessee) %}
                        <tr>
                            <td>{{ lessee.civility }}</td>
                            <td class="hide-big-string">{{ lessee.name }}</td>
                            <td class="hide-big-string">{{ lessee.lastname }}</td>
                            <td>{{ lessee.birthday ? lessee.birthday|date('d-m-Y')}}</td>
                            <td class="hide-big-string">{{ lessee.placeOfBirth }}</td>
                            <td class="hide-big-string">{{ lessee.email }}</td>
                            <td>{{ lessee.phoneNumber }}</td>
                            <td>
                                <a href="{{ path('lessee_show', {'id': lessee.id}) }}">Voir</a>
                                <a href="{{ path('lessee_edit', {'id': lessee.id}) }}"><i class="fas fa-edit"></i> édition</a>
                                <a class="btn btn-warning envelope" href="{{ path('lessee_invitation', {'lessee_id': lessee.id}) }}">
                                    <i class="fas fa-envelope"></i> Inviter
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9">Vous n'avez pas encore de locataires</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a href="{{ path('lessee_new') }}"><i class="fas fa-plus-circle"></i> Ajouter</a>

    <div class="pagination test">
        {{ knp_pagination_render(lessees) }}
    </div>
{% endblock %}
